Mustache template for testing.

You can post in request body your name to see full greeting:

{
    "name": "Your Name"
}
============================================================

Hello, {{name}}! Glad to meet you.
